
.vs/MaintenanceTracker/config/applicationhost.config
*.v2
*.vsidx
/MaintenanceTracker/.vs/MaintenanceTracker/v17/.suo
.vs/MaintenanceTracker/v17/DocumentLayout.json
*.bin
/MaintenanceTracker/bin
*.user
/MaintenanceTracker/obj
/MaintenanceTracker.Tests/obj
/MaintenanceTracker.Tests/bin
/.vs
