
*.v2
*.vsidx
.vs/MaintenanceTracker/v17/DocumentLayout.json
*.bin
/MaintenanceTracker/bin
*.user
/MaintenanceTracker/obj
/MaintenanceTracker.Tests/obj
/MaintenanceTracker.Tests/bin
/.vs
MaintenanceTracker/.vs
